{{VERSION_HTML}}
<div class="umb-panel archetypeAddDialog" ng-controller="Imulus.ArchetypeAddDialogController">
    <div class="umb-panel-body no-header with-footer umb-scrollable">

        <ul class="groups" ng-show="model.overlayMenu.fieldsetGroups.length > 1">
            <li ng-repeat="fieldsetGroup in model.overlayMenu.fieldsetGroups" ng-class="{active: fieldsetGroup == model.overlayMenu.activeFieldsetGroup}" ng-click="model.overlayMenu.activeFieldsetGroup = fieldsetGroup">
                <a prevent-default href="#">
                    {{fieldsetGroup.name}}
                </a>
            </li>
        </ul>
        <ul class="elements">
          <li ng-repeat="fieldset in model.overlayMenu.activeFieldsetGroup.fieldsets" ng-click="pickFieldset(fieldset.alias, overlayMenu.index)" >
            <div class="content">

            <h3>
                  <i class="icon {{fieldset.icon}}"></i>
                  {{fieldset.label}}
                  <small>{{getFieldsetMeta(fieldset.alias, 'description')}}</small>
              </h3>
            </div>

          <div class="preview">
            <img src="{{getFieldsetMeta(fieldset.alias, 'image')}}" />
          </div>

          <br style="clear: both;" />

            </li>
        </ul>


    </div>

</div>
